<!DOCTYPE html>
<html lang="en" ng-app="tikal-teq">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div ng-controller="MyCtrl as ctrl">
        <h1>{{ctrl.title}}</h1>
    </div>
</body>
</html>